.side
  .header
    .block
      .user masa
      .right
        = link_to "#"  do
          = icon('far', 'edit' ,class:"icon")
        = link_to "#"  do
          = icon('fas', 'cog' ,class:"icon")
  .list
    .group
      .name techcamp
      .content まだメッセージがありません
